body {
    background-color: silver;
    background-image: linear-gradient(to right, aqua, silver, aqua);
}
body img {
    width: 400px;
    height: 200px;
    box-shadow: 0 0 30px grey;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px ;
}

.packages img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgb(0, 0, 0, 0.7);
    cursor: pointer;
    box-shadow: 0 8px 12px rgb(0, 0, 0, 0.7);
}

.packages img:active {
    transform: scale(0.95);
}

.navbar {
    color: rgb(81, 193, 154);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsla(122, 41%, 78%, 1);
    box-shadow: 0 0 30px blue;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
    position: relative;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: hsla(122, 41%, 78%, 1);
    padding: 10px;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    width: 100px;
}

.dropdown-menu li {
    margin-bottom: 5px;
}

.nav-item:hover .dropdown-menu,
.nav-item:focus-within .dropdown-menu {
    display: block;
}

.dropdown-menu li:hover {
    background-color: hsla(0, 0%, 20%, 1);
    color: #000;
    /* Set text color to black */
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.nav dropdown-icon img {
    width: 200px;
    height: 20px;
}

.navbar .dropdown-icon img {
    display: none;
    cursor: pointer;
    background-color: seagreen;
    width: 40px;
}

.packages {
    background-color: aqua;
    border-top-left-radius: 600px;
    
    
    
    box-shadow: 0 0 30px blue;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.packintro {
    background-color: aqua;
    height: 60px;
    box-shadow: 0 0 30px blue;
}

h1 {
    color: green;
}

h2 {
    color: blue;
}
.packagebooking h2{
    margin-left: 400px;
}

/*Panari bookingsection start*/
.bookpanari form{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    margin-left: 400px;
    gap: 20px;
    /*
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
    */
    margin-top: -5px;
    width: 40%;
    border-radius: 10px;
    /*box-shadow: 0 0 30px blue;*/
   
}
.bookpanaribtn button{
    background-color: chartreuse;
    height: 40px;
    width: 200px;
    
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.bookpanaribtn button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px blue;
    cursor: pointer;
    box-shadow: 0 0 30px blue;
}
.panariimg{
    background-color: silver;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    margin-left: 20px;
    
}
/*Panari bookingsection end*/
.packagebooking{
    background-color: silver;
border-bottom-right-radius: 600px;
border-top-left-radius: 600px;

}

/*  mobile view*/
@media only screen and (max-width: 768px) {
    .navbar {
        color: rgb(81, 193, 154);
        padding: 10px 20px;
        display: flex;
        /* flex-direction: row; */
        justify-content: space-around;
        /* align-items: center; */
        background-color: hsla(122, 41%, 78%, 1);
        box-shadow: 0 0 30px black;
        width: 90%;
        font-size: 8px;
        height: 20px;
       
        
        
    }
    
    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .nav-item {
        margin-right: 20px;
        position: relative;
    }
    
    .nav-item a {
        color: black;
        text-decoration: none;
    }
    
    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: hsla(122, 41%, 78%, 1);
        padding: 10px;
        list-style: none;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        color: #000;
        width: 100px;
    }
    
    .dropdown-menu li {
        margin-bottom: 5px;
    }
    
    .nav-item:hover .dropdown-menu,
    .nav-item:focus-within .dropdown-menu {
        display: block;
    }
    
    .dropdown-menu li:hover {
        background-color: hsla(0, 0%, 20%, 1);
        color: #000;
        /* Set text color to black */
    }
    
    .menu-toggle {
        display: none;
        cursor: pointer;
    }
    
    .nav dropdown-icon img {
        width: 200px;
        height: 20px;
    }
    
    .navbar .dropdown-icon img {
        display: none;
        cursor: pointer;
        background-color: seagreen;
        width: 40px;
    }
    body {
        background-color: silver;
    font-size: 10px;
    background-image: linear-gradient(to right, aqua, silver, aqua);
    }
    
    body img {
        width: 200px;
        height: 100px;
        box-shadow: 0 0 30px grey;
        border-top-right-radius: 25px;
        border-bottom-right-radius:25px ;
    }
    
    .packages img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 12px rgb(0, 0, 0, 0.7);
        cursor: pointer;
        box-shadow: 0 8px 12px rgb(0, 0, 0, 0.7);
    }
    
    .packages img:active {
        transform: scale(0.95);
    }
    .packages {
        background-color: aqua;
        border-top-left-radius: 600px;
        
        
        
        box-shadow: 0 0 30px blue;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .packintro {
        background-color: aqua;
        height: 60px;
        box-shadow: 0 0 30px blue;
    }
    
    h1 {
        color: green;
    }
    
    h2 {
        color: blue;
    }
    
    /*Panari bookingsection start*/
    .bookpanari form{
        display: flex;
        flex-direction: column;
        background-color: aqua;
        margin-left: 25px;
        gap: 20px;
        /*
        border-bottom-right-radius: 200px;
        border-top-right-radius: 200px;
        */
        margin-top: -5px;
        width: 80%;
        border-radius: 10px;
        /*box-shadow: 0 0 30px blue;*/
        
       
    }
    .bookpanaribtn button{
        background-color: chartreuse;
        height: 40px;
        width: 200px;
        
        border-radius: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .bookpanaribtn button:hover{
        transform: scale(1.05);
        box-shadow: 0 0 30px blue;
        cursor: pointer;
        box-shadow: 0 0 30px blue;
    }
    .panariimg{
        background-color: silver;
        border-top-right-radius: 500px;
        border-bottom-right-radius: 500px;
        margin-left: 20px;
        
    }
    /*Panari bookingsection end*/
    .packagebooking{
        background-color: silver;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    }
    .packagebooking h2{
        margin-left: 70px;
    }
}


