<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin.css') }}">
</head>
<body>
     <nav class="navbar">
        <div class="menu-toggle" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
        <ul class="nav-list" id="navList">
            <li class="nav-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">DISCOVER&#9660;</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a href="{{ url_for('animals') }}">Animals</a></li>
                    <li class="nav-item"><a href="{{ url_for('hotels') }}">Hotels</a></li>
                    <li class="nav-item"><a href="{{ url_for('citymalls') }}">Citymalls</a></li>
                    <li class="nav-item"><a href="{{ url_for('map') }}">Live map</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">SERVICES &#9660;</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a href="{{ url_for('accommodation') }}">Accommodation</a></li>
                    <li class="nav-item"><a href="{{ url_for('packages') }}">Packages</a></li>
                    <li class="nav-item"><a href="{{ url_for('transportation') }}">Transportation</a></li>
                    

                </ul>
            </li>
            <li class="nav-item"><a href="{{ url_for('about') }}">About</a></li>
            <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>
    <h1>Admin Portal</h1>
  
    <div class="search-results" id="searchResults">
        <ul id="resultsList">
            {% for result in search %}
                <li>{{ result.username }} - {{ result.email }}</li>
            {% endfor %}
        </ul>
      </div>
      
      
    <ul>
        {% for admin in admins %}
            <li>{{ admin.username }} - {{ admin.email }}</li>
        {% endfor %}
    </ul>
<div class="TouristInfo">
    <h2>Signed In Users</h2>
   
    <table>
        <tr id="user">
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for name, email in users.items() %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ email }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <hr style="border-top: 2px solid white;  width: 100%;" />

    <h2>Accommodation Information</h2>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
            <th>Number of Guests</th>
            <th>Room Type</th>
            <th>Hotel Name</th>
        </tr>
        {% for accommodation in accommodations %}
        <tr>
            <td>{{ accommodation.name }}</td>
            <td>{{ accommodation.email }}</td>
            <td>{{ accommodation.checkinDate }}</td>
            <td>{{ accommodation.checkoutDate }}</td>
            <td>{{ accommodation.guests }}</td>
            <td>{{ accommodation.room }}</td>
            <td>{{ accommodation.hotel }}</td>
        </tr>
        {% endfor %}
    </table>

    <hr style="border-top: 2px solid white;  width: 100%;" />

    <h2>Package Information</h2>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
            <th>Number of Guests</th>
            <th>Package Type</th>
            
        </tr>
        {% for package in packages %}
        <tr>
            <td>{{ package.name }}</td>
            <td>{{ package.email }}</td>
            <td>{{ package.checkinDate }}</td>
            <td>{{ package.checkoutDate }}</td>
            <td>{{ package.guests }}</td>
            <td>{{ package.pkgType}}</td>
            
        </tr>
        {% endfor %}
    </table>

    <hr style="border-top: 2px solid white;  width: 100%;" />

    <h2>Contact Information</h2>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Message</th>
            
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.message }}</td>
            
        </tr>
        {% endfor %}
    </table>
</div>
    <footer>&copy;Nairobi National park. All rights reserved.</footer>
</body>
</html>
