<!DOCTYPE html>
<html>
<head>
    <title>Live Map</title>
    <style>
        /* Set the size of the map */
        #map {
            height: 500px;  /* Adjust height as needed */
            width: 100%;    /* Adjust width as needed */
            box-shadow: 0 0 30px green;
        }
    </style>
    <!-- Include Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/map.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="menu-toggle" onclick="toggleMenu()">
            <i class="fa fa-bars"></i>
        </div>
        <ul class="nav-list" id="navList">
            <li class="nav-item"><a href="{{ url_for('index') }}">Home</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">DISCOVER&#9660;</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a href="{{ url_for('animals') }}">Animals</a></li>
                    <li class="nav-item"><a href="{{ url_for('hotels') }}">Hotels</a></li>
                    <li class="nav-item"><a href="{{ url_for('citymalls') }}">Citymalls</a></li>
                    <li class="nav-item"><a href="{{ url_for('map') }}">Live map</a></li>
                   

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="dropdown-toggle">SERVICES &#9660;</a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a href="{{ url_for('accommodation') }}">Accommodation</a></li>
                    <li class="nav-item"><a href="{{ url_for('packages') }}">Packages</a></li>
                    <li class="nav-item"><a href="{{ url_for('transportation') }}">Transportation</a></li>
                    
                    

                </ul>
            </li>
            <li class="nav-item"><a href="{{ url_for('about') }}">About</a></li>
            <li class="nav-item"><a href="{{ url_for('contact') }}">Contact</a></li>
            
        </ul>
    </nav>
    <h1>Live Map</h1>
    <div id="map"></div>

    <!-- Include Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/js/map.js"></script>
    <footer>
        <p>&copy; 2024 Nairobi National Park. All rights reserved.</p>
    </footer>
</body>
</html>
